src/parcellite
*.in
Makefile
src/.deps
configure
config.h
config.log
aclocal.m4
autom4te.cache/
compile
config.guess
config.status
config.sub
data/parcellite-startup.desktop
data/parcellite.desktop
po/.intltool-merge-cache
po/ChangeLog
po/Makevars.template
po/POTFILES
po/stamp-it
